.card {
	position: relative;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	text-align: left;
	margin-bottom: 2em;
	cursor: pointer;
}

.card .card-bg {
	position: absolute;
	width: 326px;
	height: 326px;
	background-color: #000;
	opacity: 0.2;
	display: block;
}

.card:hover > .card-bg {
	display: none;
}

.card .card-title {
	text-align: center;
	width: 100%;
	margin: 50% 0;
	position: absolute;
	z-index: 1;
	text-shadow: 2px 1px #333;
}

.card > img {
	object-fit: cover;
	width: 326px;
	height: 326px;
}

.card:hover > img {
	transform: scale(1.05);
	transition: all 0.5s ease;
}